<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
  integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

<!-- Image and text -->
<nav class="navbar navbar-light" *ngIf="isUserLoggedIn" style="background-color: #dfe0e0;">
  <a class="navbar-brand align-middle" href="#">
    <img src="../../../assets/brunowviskBrand.png" width="20%" 
    class="d-inline-block align-middle" alt="Brunowvisk">
  </a>
</nav>